$color-primary-1: #1c2431; //todo intro and email sign up background
$color-primary-2: #181f2a; //todo main background
$color-primary-3: #0b1523;//todo footer background
$color-primary-4: #202a3c; //todo testimonials background

$color-accent-1: #65e2d9;
$color-accent-2: #339ecc;

$color-neutral: #ffffff;